* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: #f1f2f5;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 15px;
  padding: 20px;
  color: #333;
}

.list-container {
  padding-bottom: 1px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: 30px 30px;
  top: 0;
}

#list-title {
  position: relative;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-title-left {
  color: #545862;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#list-title-right {
  color: #545862;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}

#list-input {
  position: relative;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#list-input-left {
  width: 80%;
}

#list-input-left input[type='text'] {
  width: 100%;
  padding: 0 40px 0 1rem;
  line-height: 50px;
  height: 50px;
  border: none;
  font-style: italic;
  appearance: none;
  vertical-align: middle;
}

#list-input-right {
  color: #545862;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}

#new-item-input {
  border: none !important;
  outline: none;
  background: #fff;
  box-shadow: none;
  overflow: hidden;
  width: 90%;
}

#new-item-input::placeholder {
  font-size: 15px;
  opacity: 0.5;
}

.single-task {
  color: #545862;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: start;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-all {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 1rem auto;
  display: block;
  opacity: 0.5;
  color: inherit;
  font: inherit;
  text-align: center;
  padding: 1px 6px;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.li-input-text {
  margin-left: 10px;
  border: 0;
  background-color: inherit;
  border-style: hidden;
  outline: none;
  width: 90%;
}

.green-icon {
  color: #2e8ae6;
}

.grey-icon {
  opacity: 0.5;
  color: #333;
}

.text-completed {
  text-decoration: line-through;
}

.text-uncompleted {
  text-decoration: none;
}

.edition {
  background-color: #fffeca;
}

.no-edition {
  background-color: #fff;
}

.left-div-li {
  width: 100%;
}
